.navbar li {
  float: left;
  list-style: none;
  margin: 14px 8px;
  
}
.nav-item a:active,.nav-item a:hover,.nav-item a.active{
  color: white;
  border-radius: 10%;
  background-color:var(--bs-cyan);
}

section.container-fluid p{
  font-size: medium;
  min-width: 20vw;
  max-width: 40vw;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .7s;
}

section.container-fluid p:hover{
  cursor: pointer;
  color: #F6D464
}

section.container-fluid p:active{
  color: darkgold
}


@media screen and (orientation:portrait){
  section.container-fluid img{
    height: 20vh;
    width: 100vw;

  }
  section.container-fluid p{
    min-width: 20vw;
    max-width: 30vw;
    font-size: 0.69em;
  }
  

}

@media screen and (orientation:landscape) {
  section.container-fluid img{
    height: 30vh;
    width: 30vw;

  } 
}