<article class="blog-post">
  <h2 class="blog-post-title">
    وزير التربية والتعليم يترأس اجتماع أعضاء المجلس الأعلى للأمناء والآباء
    والمعلمين
  </h2>
  <p class="blog-post-meta">
    03/11/2022
    <!--a href="#"> </a-->
  </p>
  <div class="blog-post-img">
    <img
      src="https://moe.gov.eg//media/poujpoin/whatsapp-image-2022-11-03-at-2-30-16-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119532090370000"
      alt=""
      width="100%"
      height="100%"
    />
  </div>
  <p class="justify">
    وفي بداية الاجتماع رحب الدكتور رضا حجازي، بأعضاء المجلس، مؤكدًا أن المجلس هو
    الممثل الشرعى لآراء أولياء الأمور والمعلمين، مشيدًا بدورهم في التغلب على
    العديد من مشكلات العملية التعليمية والمجهودات المبذولة لإنجاح منظومة التعليم
    الجديدة. وقال حجازي، إننا نسعى إلى تطوير العملية التعليمية وتنمية مهارات
    المعلمين، والعمل على توفير منظومة تعليمية متميزة من شأنها تحقيق أهداف
    التنمية المستدامة. واستعرض الوزير، خلال الاجتماع، الإجراءات التي اتخذتها
    الوزارة لتطوير المنظومة التعليمية، حيث استهدفت الوزارة عودة الطلاب للمدرسة،
    ودمج التكنولوجيا في التعليم وتخصيص يوم للأنشطة الفنية والرياضية والثقافية
    بالتعاون مع وزارتي الشباب والرياضة والثقافة. ووجه الوزير، أعضاء المجلس
    بضرورة إطلاق مبادرات من شأنها التعريف بالحقوق والواجبات لكل أطراف المنظومة
    التعليمية، وتحويل تلك المبادرات لتصبح بمثابة ميثاق عمل، سواء لأعضاء مجالس
    الأمناء، أو للمعلمين وأولياء الأمور، كما تهدف تلك المبادرات للتقريب بين
    أطراف العملية التعليمية على أرض الواقع. وناقش المجلس العديد من القضايا والتي
    من أهمها تفعيل دور المجلس بالمدارس والتواصل مع أولياء الأمور والتوعية بجهود
    الوزارة والتي تهدف في المقام الأول إلي الحفاظ على حق الطلاب في الحصول على
    خدمة تعليمية تليق بهم، فضًلا عن مناقشة العديد من القضايا الأخرى. حضر
    الاجتماع الدكتورة إيمان حسن المدير التنفيذي للمجلس، ورئيس الإدارة المركزية
    للأنشطة الطلابية، والدكتور أكرم حسن رئيس الإدارة المركزية لتطوير المناهج،
    والمستشار أشرف سيد المستشار القانوني لوزارة التربية والتعليم، وعبد الرؤوف
    علام رئيس المجلس الأعلى للأمناء والآباء والمعلمين وأعضاء المجلس بمختلف
    المحافظات.
  </p>
</article>
>
