.navbar li {
  float: left;
  list-style: none;
  margin: 14px 8px;
  
}
.nav-item a{
  padding-right: 0.5rem;
  color: black;
  transition: all ease-in-out .5s;
}
.nav-item a:active,.nav-item a:hover{
  color: white;
  border-radius: 10%;
  background-color: var(--bs-cyan);
}

@media screen and (orientation:portrait) {
  img{
    max-height: 60vh;
  }  
}
@media screen and (orientation:landscape) {
  img{
    max-height: 60vh;
  }  
}