<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light rounded bg-white" aria-label="Eleventh navbar example">
      <div class="container-fluid">
        <a class="navbar-brand col-5" href="#">
        <img src="https://moe.gov.eg/wwwroot/images/logo.png" class="img-responsive">

      </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample09" style="">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/home">الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">اخبار المنصه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              التسجيل علي البوابه
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses" tabindex="-1" aria-disabled="true">
              تعلم معنا
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              نظام الامتحانات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">
              تقديم شكوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">
              دعم فني
             </a>
          </li>
            <!--li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown09">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li-->
          </ul>
        </div>
      </div>
    </nav>
</header>

<div class="container my-5">
  <main class="container">
   <h2 class="text-success bg-light">{{title}}</h2>
   <div class="row d-flex">
    <div class="col col-md-8 col-sm-5 flex-column" style="overflow-y: scroll; max-height: 100vh">
      <form [formGroup]="contactForm" (ngSubmit)="save()">
        <div class="mb-3">
          <label for="userName" class="form-label">اسم المستخدم</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            formControlName="userName"
          />
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">نوع رسالتك</label>
          <select
            
            class="form-control"
            id="type"
            formControlName="type">
            <option value="">
              اختر نوع رسالتك
            </option>
            <option value="complaint">
              شكوي
            </option>
            <option value="inquiry">
              استفسار 
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">عنوان الرساله</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            formControlName="subject"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">وصف الرساله</label>
          <textarea 
            required="true"
            class="form-control"
            id="description"
            formControlName="description"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid"><b class="bi bi-cursor-fill"> &nbsp;  اضافه تذكره </b></button>
      </form>
    </div>
    <div class="col col-md-4 col-sm-5 flex-column mx-2">
      <table class="table table-striped">
      <thead>
       <th>id</th>
       <th>نوع الرساله</th>
       <th>عنوان الرساله</th>
       <th>وصف الرساله</th>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of preview;let i=index">
          <td>{{ticket.id}}</td>
          <td>{{ticket.type}}</td>
          <td>{{ticket.subject}}</td>
          <td style="hyphens:auto">{{ticket.description}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

</main>
</div>
