.navbar li {
  float: left;
  list-style: none;
  margin: 14px 8px;
  
}
/*.nav-item a{
  color: var(--bs-white);
  padding-right: 0.5rem;
  transition: all ease-in-out .5s;
  
}*/
.nav-item a:active,.nav-item a:hover,.nav-item a.active{
  color: white;
  border-radius: 10%;
  background-color:var(--bs-cyan);
}

input:hover,textarea:hover, select:hover {
 box-shadow: 0px 4px 4px rgba(64,64,236,0.15), 0px 8px 32px rgba(40,40,187,0.15);
}

input,
textarea,
select
{
 box-shadow:none;
 transition:all cubic-bezier(1,0,0,1) .65s
}

input.ng-valid.ng-touched, 
select.ng-valid.ng-touched,
textarea.ngvalid.ng-touched  {
  color:rgba(0, 249, 16, 0.79);
  border: 2px solid rgba(0, 249, 16, 0.79);
  box-shadow: 0px 6px 16px rgba(19,202,40,0.15),inset 0px 8px 10px rgba(0,218,89,0.05);
 }

input.ng-invalid.ng-touched, 
select.ng-ivalid.ng-touched,
textarea.ng-inalid.ng-touched  {
  color:#F90000;
  border: 2px solid #F90000;
  box-shadow: 0px 6px 16px rgba(255,0,42,0.15),inset 0px 8px 10px rgba(255,0,42,0.05);
}

textarea:valid{
border: 2px solid rgba(0, 249, 16, 0.79);
  box-shadow: 0px 6px 16px rgba(19,202,40,0.15),inset 0px 8px 10px rgba(0,218,89,0.05);

}
textarea:invaild {
border: 2px solid #F90000;
  box-shadow: 0px 6px 16px rgba(255,0,42,0.15),inset 0px 8px 10px rgba(255,0,42,0.05);

}

tbody {
  height: 80em;
  overflow: scroll;
}
