<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white rounded bg-img" aria-label="Eleventh navbar example">
       <div class="container-fluid">
         <a class="navbar-brand col-5" href="/home">
         <img src="https://moe.gov.eg/wwwroot/images/logo.png" class="img-responsive">
 
       </a>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
 
         <div class="navbar-collapse collapse" id="navbarsExample09" style="">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
             <a class="nav-link " aria-current="page" href="/home">الصفحة الرئيسية</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/news">اخبار المنصه</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/auth/signup" tabindex="-1" aria-disabled="true">
               التسجيل علي البوابه
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/courses" tabindex="-1" aria-disabled="true">
               تعلم معنا
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
               نظام الامتحانات
             </a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="/support/complaint" tabindex="-1" aria-disabled="true">
              تقديم شكوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support/contact" tabindex="-1" aria-disabled="true">
              دعم فني
             </a>
          </li>
             <!--li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
               <ul class="dropdown-menu" aria-labelledby="dropdown09">
                 <li><a class="dropdown-item" href="#">Action</a></li>
                 <li><a class="dropdown-item" href="#">Another action</a></li>
                 <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
             </li-->
           </ul>
         </div>
       </div>
     </nav>
 </header>
   <div class="container-fluid row">
        <section class="container error col-12">
            
        </section>
    </div>