<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top bg-light">
    <div class="container-fluid row">
      <a class="navbar-brand col-5" href="#">
        <img src="https://moe.gov.eg/wwwroot/images/logo.png">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-5" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">اخبار المنصه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              التسجيل علي البوابه
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تعلم معنا
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              نظام الامتحانات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تقديم شكوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              دعم فني
             </a>
          </li>
        </ul>
        <!--form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="بحث" aria-label="بحث">
          <button class="btn btn-outline-success" type="submit">بحث</button>
        </form-->
      </div>
    </div>
  </nav>
</header>

<div class="container my-5">
  <main class="container">
    <!--
    <div id="myCarousel" class="carousel slide row" data-bs-ride="carousel">
      <div class="carousel-indicators col-1">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class=""
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class=""
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class="active"
          aria-current="true"
        ></button>
      </div>
      <div class="carousel-inner container-fluid">
        <div class="carousel-item row">
          <img
            src="https://moe.gov.eg//media/jovbc1tx/minstry.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133117732152830000"
            alt=""
            width="100px"
            height="100px"
            
          />

          <div class="container">
            <div class="carousel-caption row">
              <h1 class="text-end">
                "التعليم" تعلن عن إطلاق النسخة الثالثة من المشروع الوطني للقراءة
                لعام 2022/2023.
              </h1>
              <p class="text-end">
                في إطار دعم ورعاية الدكتور رضا حجازي وزير التربية والتعليم
                والتعليم الفني للقراءة وتنمية الوعي وتمكين الأجيال من مفاتيح
                الابتكار، عقدت الوزارة اجتماعًا، عبر الفيديو كونفرانس، مع مديري
                الشؤون التنفيذية وموجهي عموم المكتبات استعدادًا لإطلاق النسخة
                الثالثة من المشروع الوطني للقراءة لعام 2022/2023..
              </p>
              <p class="text-end">
                <a class="btn btn-lg btn-primary" href="/news">تفاصيل اكثر</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item active col flex-row">
          <img
            src="https://moe.gov.eg//media/4lrb220n/whatsapp-image-2022-11-01-at-1-36-29-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133117778229570000"
            width="100%"
            height="100%"
            alt=""
            class="col-5 float-end"
          />

          <div class="container float-start">
            <div class="carousel-caption">
              <h1>
                وزير التربية والتعليم يكرم طلاب مدارس المتفوقين في العلوم
                والتكنولوجيا STEM الفائزين في إعداد مشروعات التغير المناخي
                بالتعاون مع سيمنس مصر .
              </h1>
              <p>
                شهد الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني،
                اليوم، احتفالية لتكريم طلاب مدارس المتفوقين في العلوم
                والتكنولوجيا STEM، الفائزين في إعداد مشروعات التغير المناخي،
                والذين شاركوا في معسكر Innovation 4 Sustainability "الإبداع من
                أجل الاستدامة"، الذي نظمته شركة سيمنس مصر، تحت رعاية ودعم وزارة
                التربية والتعليم والتعليم الفني؛ بهدف تمكين الطلاب من حل
                المشكلات المرتبطة بإدارة مخلفات القطاع الصناعي، وخاصة قطاع تصنيع
                الإلكترونيات..
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="/news">أعرف أكثر</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col flex-row">
          <img
            width="100%"
            height="100%"
            src="https://moe.gov.eg//media/ioojpjmu/reda-hegazy.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133117907759530000"
          />

          <div class="container col-5 float-start">
            <div class="carousel-caption text-end">
              <h1>
                خلال اجتماع لجنة التعليم بمجلس النواب وزير التربية والتعليم:
                تطوير التعليم قضية دولة ومستمرون في العمل للارتقاء بالعملية
                التعليمية.
              </h1>
              <p>
                شارك الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني،
                اليوم، في اجتماع لجنة التعليم بمجلس النواب، برئاسة الدكتور سامي
                هاشم، وحضور عدد من أعضاء اللجنة، وعدد من عمداء كليات التربية.
                وفي بداية الجلسة رحب الدكتور سامي هاشم، بالدكتور رضا حجازي وزير
                التربية والتعليم والتعليم الفني. وأكد الوزير، في كلمته، أن تطوير
                التعليم قضية دولة ومستمرون في العمل للارتقاء بالعملية التعليمية
                وتنمية مهارات المعلمين وتحسين الأداء من خلال تبني استراتيجيات
                داعمة للابتكار وضمان الجودة في التعليم. وقال الوزير، إن المدرسة
                هي المكان الطبيعي للتعليم والتعلم؛ والتي يتم فيها تنفيذ جميع
                الأنشطة التعليمية، مشيرًا إلى أن الوزارة تسعى لتوفير منظومة
                تعليمية متميزة؛ من شأنها تحقيق أهداف التنمية المستدامة، مؤكدًا
                أن الهدف الاستراتيجي هو عودة الطلاب إلى المدارس وقد تحقق.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="/news">تفاصيل اكثر</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">السابق</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">التالي</span>
      </button-->
      
      <section class="slider-area slider carousel">
        <div>
          hello
        </div>
        <div>abdo</div>
        <div>moh</div>
      </section>
  


      <section class="row d-flex">
        <div class="col-3 flex-column">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
          <h2>شرح طريقه التسجيل</h2>
          <p>وصف طريقه التسجيل.</p>
          <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
        </div>
  
        <div class="col-3 flex-column">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
          <h2>شرح طريقه التسجيل</h2>
          <p>وصف طريقه التسجيل.</p>
          <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
        </div>
  
        <div class="col-3 flex-column">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
          <h2>شرح طريقه التسجيل</h2>
          <p>وصف طريقه التسجيل.</p>
          <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
        </div>
        
        <div class="col-3 flex-column">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
          <h2>شرح طريقه التسجيل</h2>
          <p>وصف طريقه التسجيل.</p>
          <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
        </div>
      
      </section>

    
    
  </main>
</div>