<!--nav class="navbar navbar-light bg-light" aria-label="First navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        title="وزاره التربيه و التعليم"
        width="64px"
        height="64px"
              />
    </a>

    <!--<button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample01"
      aria-controls="navbarsExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/news"
            >الاخبار</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">تواصل معنا</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown01"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >اخري</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">المنصات</a></li>
            <li><a class="dropdown-item" href="#">الخدمات</a></li>
          </ul>
        </li>
      </ul>
      <form>
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav-->
<router-outlet></router-outlet>
<!--footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">الشكاوي</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">الاخبار</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">الخدمات</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">الاسئله الشائعه</a>
    </li>
  </ul>
</footer-->

<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3 flex-column">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <img src="https://moe.gov.eg/wwwroot/images/logo.png" alt="">
    </a>
    <p>
      تطوير البنية الأساسية المعلوماتية و ترسيخ دعائم تكنولوجيا المعلومات
وزيادة الوعي التكنولوجي و المساهمة في تقليل الفجوة الرقمية بمؤسسات 
وزراة التربية والتعليم بما يتماشى مع استراتيجية تطوير التعليم بجمهورية
مصر العربي  
    </p>
    <p class="text-muted">© 2022</p>
  </div>

  <div class="col mb-3">

  </div>

  <div class="col mb-3">
    <h5>القائمه</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">الرئيسيه</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">اخبار المنصه</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">شروط التقدم</a></li>
      </ul>
  </div>

  <div class="col mb-3">
    <h5>الخدمات</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">شرح التسجيل</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">التسجيل علي البوابه</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">تعلم معنا</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
    </ul>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">نظام الامتحانات</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">دعم فني</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">سجل شكوي</a></li>
  </ul>
  
</footer>
