<div class="container">
  <div class="row d-flex flex-row">
    <div class="col-4 col-xs-6">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/poujpoin/whatsapp-image-2022-11-03-at-2-30-16-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119532090370000"
          class="Card-img-top"
          alt=""
        />
        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يترأس اجتماع أعضاء المجلس الأعلى للأمناء
            والآباء والمعلمين
          </h6>
          <p class="card-text text-sm-center">
            رأس الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اجتماع
            المجلس الأعلى للأمناء والآباء والمعلمين على مستوى الجمهورية؛ لمناقشة
            عدد من القضايا التعليمية المختلفة
          </p>
          <p class="card-text">
            <a class="link" href="news/1"
              ><small class="justify">see detail</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 col-xs-6">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/3phlr1ry/whatsapp-image-2022-11-03-at-2-22-31-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119526847570000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            بيان إعلامي
          </h6>
          <p class="card-text text-sm-center">
            حرص الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، على
            الاطمئنان على حالة الطالبة هنا أشرف محمد محمد شحاتة، الطالبة بمدرسة
            الجلاء الابتدائية بإدارة ههيا التعليمية
          </p>
          <p class="card-text">
            <a class="link" href="news/2"
              ><small class="justify">see detail</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 col-xs-6">
      <div class="card mx" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/qnnew5qr/whatsapp-image-2022-11-03-at-1-18-37-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119484497800000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يتفقد سير العملية التعليمية بمدارس محافظة
            الشرقية
          </h6>
          <p class="card-text text-sm-center">
            تفقد الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اليوم
            سير العملية التعليمية بمحافظة الشرقية، حيث قام بزيارة مدرسة الشهيد
            عمرو شبل فرحات الرسمية للغات،
          </p>
          <p class="card-text">
            <a class="link" href="news/3"
              ><small class="justify">see detail</small></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
