<header>
  <nav class="navbar navbar-expand-md navbar-light nav-fill w-100">
    <div class="container-fluid row">
      <a class="navbar-brand col-5" href="#">
        <img src="https://moe.gov.eg/wwwroot/images/logo.png">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-5" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">اخبار المنصه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              التسجيل علي البوابه
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تعلم معنا
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              نظام الامتحانات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تقديم شكوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              دعم فني
             </a>
          </li>
        </ul>
        <!--form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="بحث" aria-label="بحث">
          <button class="btn btn-outline-success" type="submit">بحث</button>
        </form-->
      </div>
    </div>
  </nav>
</header>
<div class="container ">
    <!--
    <div class="col-4">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/poujpoin/whatsapp-image-2022-11-03-at-2-30-16-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119532090370000"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يترأس اجتماع أعضاء المجلس الأعلى للأمناء
            والآباء والمعلمين
          </h6>
          <p class="card-text text-sm-center">
            رأس الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اجتماع
            المجلس الأعلى للأمناء والآباء والمعلمين على مستوى الجمهورية؛ لمناقشة
            عدد من القضايا التعليمية المختلفة
          </p>
          <p class="card-text text-muted">
            <a class="link" href="news/1"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/3phlr1ry/whatsapp-image-2022-11-03-at-2-22-31-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119526847570000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            بيان إعلامي
          </h6>
          <p class="card-text text-sm-center">
            حرص الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، على
            الاطمئنان على حالة الطالبة هنا أشرف محمد محمد شحاتة، الطالبة بمدرسة
            الجلاء الابتدائية بإدارة ههيا التعليمية
          </p>
          <p class="card-text">
            <a class="link" href="news/2"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/qnnew5qr/whatsapp-image-2022-11-03-at-1-18-37-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119484497800000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يتفقد سير العملية التعليمية بمدارس محافظة
            الشرقية
          </h6>
          <p class="card-text text-sm-center">
            تفقد الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اليوم
            سير العملية التعليمية بمحافظة الشرقية، حيث قام بزيارة مدرسة الشهيد
            عمرو شبل فرحات الرسمية للغات،
          </p>
          <p class="card-text">
            <a class="link" href="news/3"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
  -->
  <div class="container-fluid">
    <section class="row d-flex">
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <!--svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect>
          <image href="../assets/image_bg.jpg" x="0" y="0" width="100" height="100"></image>
        </svg-->
    
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/1">عرض التفاصيل</a></p>
      </div>
    
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/2">عرض التفاصيل</a></p>
      </div>
    
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/3">عرض التفاصيل</a></p>
      </div>
      
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/4">عرض التفاصيل</a></p>
      </div>
      </section>

  </div>
  
</div>
