.navbar li {
    float: left;
    list-style: none;
    margin: 14px 8px;
    
  }
  .nav-item a{
    color: var(--bs-white);
    transition: all ease-in-out .5s;
  }
  .nav-item a:active,.nav-item a:hover{
    color: white;
    border-radius: 10%;
    background-color:var(--bs-cyan);
  }
 .navbar{
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/Mask_Group_3.jpg");
  position: relative;
  margin-bottom: 50px;
 }

 