<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-white rounded " aria-label="Eleventh navbar example">
      <div class="container-fluid">
        <a class="navbar-brand col-5" href="#">
        <img src="https://moe.gov.eg/wwwroot/images/logo.png" class="img-responsive">

      </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample09" style="">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">اخبار المنصه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              التسجيل علي البوابه
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تعلم معنا
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              نظام الامتحانات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              تقديم شكوي
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              دعم فني
             </a>
          </li>
            <!--li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown09">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li-->
          </ul>
        </div>
      </div>
    </nav>
</header>
<div class="container ">
    <!--
    <div class="col-4">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/poujpoin/whatsapp-image-2022-11-03-at-2-30-16-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119532090370000"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يترأس اجتماع أعضاء المجلس الأعلى للأمناء
            والآباء والمعلمين
          </h6>
          <p class="card-text text-sm-center">
            رأس الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اجتماع
            المجلس الأعلى للأمناء والآباء والمعلمين على مستوى الجمهورية؛ لمناقشة
            عدد من القضايا التعليمية المختلفة
          </p>
          <p class="card-text text-muted">
            <a class="link" href="news/1"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx-auto" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/3phlr1ry/whatsapp-image-2022-11-03-at-2-22-31-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119526847570000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            بيان إعلامي
          </h6>
          <p class="card-text text-sm-center">
            حرص الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، على
            الاطمئنان على حالة الطالبة هنا أشرف محمد محمد شحاتة، الطالبة بمدرسة
            الجلاء الابتدائية بإدارة ههيا التعليمية
          </p>
          <p class="card-text">
            <a class="link" href="news/2"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mx" style="max-width: 18rem;">
        <img
          src="https://moe.gov.eg//media/qnnew5qr/whatsapp-image-2022-11-03-at-1-18-37-pm.jpeg?anchor=center&mode=crop&width=1560&height=528&rnd=133119484497800000"
          class="Card-img-top"
          alt=""
        />

        <div class="card-body">
          <h6 class="card-title text-sm-start">
            وزير التربية والتعليم يتفقد سير العملية التعليمية بمدارس محافظة
            الشرقية
          </h6>
          <p class="card-text text-sm-center">
            تفقد الدكتور رضا حجازي وزير التربية والتعليم والتعليم الفني، اليوم
            سير العملية التعليمية بمحافظة الشرقية، حيث قام بزيارة مدرسة الشهيد
            عمرو شبل فرحات الرسمية للغات،
          </p>
          <p class="card-text">
            <a class="link" href="news/3"
              ><small class="justify-text-center">تفاصيل اكثر</small></a
            >
          </p>
        </div>
      </div>
    </div>
  -->
  <div class="container-fluid">
    <!--
    <section class="row d-flex">
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
    
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/1">عرض التفاصيل</a></p>
      </div>
    
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/2">عرض التفاصيل</a></p>
      </div>
    
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/3">عرض التفاصيل</a></p>
      </div>
      
      <div class="col-md-3 col-sm-6 flex-column">
        <img claas="rounded-circle" src="../assets/image_bg.jpg" alt=""
         width="200px"
         height="200px">
        <h2>شرح طريقه التسجيل</h2>
        <p>وصف طريقه التسجيل.</p>
        <p><a class="btn btn-secondary" href="/news/4">عرض التفاصيل</a></p>
      </div>
      </section>
    -->
    
    <!--section class="caroselsection">
     <h4 class="text-start text-warning py-2 my-2 rounded-1 mx-1 px-1 ">{{fetchedCat}}</h4>
    
      <ngx-slick-carousel
        style="background: transparent"
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
       
        <div
          ngxSlickItem
          *ngFor="let fetchedArticle of fetechedArticles; let i =index"
          class="slide overflow-hidden " routerLink="/news/{{fetchedArticle.id}}"
        >
        <div class="col-sm-6 col-md-4 flex-column ">
         <img src="{{fetchedArticle.imgurl}}" alt="" class="rounded img-fluid" >
            <p class="text-start align-top text-success mx-1 mt-5" style="" routerLink="/news/{{fetchedArticle.id}}">
              {{fetchedArticle.title}}
            </p>
        </div>
        </div>
      </ngx-slick-carousel>
      
      <button (click)="addSlide()">Add</button>
      <button (click)="removeSlide()">Remove</button>
      <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
      <button (click)="slickModal.unslick()">unslick</button>
    </section-->
    <section class="container-fluid">

      <div class="row d-flex">

        <div class="col-sm-6 col-md-4 flex-column " *ngFor="let fetchedArticle of fetechedArticles; let i =index">
         <img src="{{fetchedArticle.imgurl}}" alt="" class="rounded img-fluid" >
            <p class="text-start align-top text-black mx-1 mt-5" style="" routerLink="/news/{{fetchedArticle.id}}">
              {{fetchedArticle.title}}
            </p>
        </div>



      </div>

    </section>

  </div>
  
</div>
