/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}


app-home #caroselsection .slick-dots{
  text-align: right;
  transform: translateY(3vh);
  
}

.slick-dots button{
  outline:none;
  transition:all cubic-bezier(.17,.67,.83,.67) .7s;
}
app-home #caroselsection .slick-dots li.slick-active button:before,
app-home #caroselsection .slick-dots li button:before {
  color: var(--bs-light);
  opacity: 1;
  font-size: 16px;
}
app-home #caroselsection .slick-dots li.slick-active button {
  border: 5px solid var(--bs-cyan);
  border-radius: 100%;
} 
app-home #caroselsection .slick-dots li.slick-active button:before {
  color: var(--bs-cyan);
  border: 5px solid var(--bs-cyan);
  width:20px;
  height: 5px;
}

app-home #caroselsection .slick-dots li button {
  color: transparent;
  border: 2px solid #fafad2;
  border-radius: 100%;
}
app-home #caroselsection .slick-dots li button:before{
    margin-top: 5px;
    border: 2px solid #fafad2;
    border-radius: 20%;
    display: inline-block;
    height: 5px;
    width: 10px;
 
}






app-home #caroselsection2 .slick-dots li.slick-active button:before,
app-home #caroselsection2 .slick-dots li button:before {
  color: grey;
  opacity: 1;
  font-size: 16px;
}
app-home #caroselsection2 .slick-dots li.slick-active button {
  border: 5px solid var(--bs-warning);
  border-radius: 100%;
}
app-home #caroselsection2 .slick-dots li.slick-active button:before {
  color: var(--bs-warning);
}

app-home #caroselsection2 .slick-slide {
  margin: 0 10px;
}
app-home #caroselsection2 .slick-list {
  margin: 0 -10px;
}

app-home #caroselsection2 p:hover{
  cursor:pointer;
}



