/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}


app-home #caroselsection .slick-dots{
  text-align: right;
  transform: translateY(3vh);
  
}

.slick-dots button{
  outline:none;
  transition:all cubic-bezier(.17,.67,.83,.67) .7s;
}

app-home #caroselsection .slick-dots li
{
   margin-left:.1rem;
   margin-right:.1rem;
}
app-home #caroselsection .slick-dots li.slick-active {
    margin-left: 1.2rem;
    margin-right:1.3rem;
}


app-home #caroselsection .slick-dots {
    margin-top: 50px;
    margin-bottom:50px;
}

app-home #caroselsection .slick-dots li.slick-active button:before,
app-home #caroselsection .slick-dots li button:before {
  color: transparent;
  opacity: 1;
  transition:all cubic-bezier(.17,.67,.83,.95) 1s; 
}
app-home #caroselsection .slick-dots li.slick-active button {
  background-color: var(--bs-cyan);
  border: 5px solid var(--bs-cyan);
  width:2.8rem;
  height:.8rem;
  border-top-left-radius:25%;
  border-top-right-radius:25%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  
}
app-home #caroselsection .slick-dots li.slick-active button:before {
  background-color: var(--bs-cyan);
  border: 5px solid var(--bs-cyan);
  width:1.4rem;
  height: 0.0rem;
  right:.5rem;
  border-top-left-radius:25%;
  border-top-right-radius:25%;
  border-bottom-left-radius:25%;
  border-bottom-right-radius:25%;
}
/*
app-home #caroselsection .slick-dots li button {
  color: transparent;
  border: 5px solid darkgoldenrod;
  width: 1.5rem;
}
*/
app-home #caroselsection .slick-dots li button:before{
    margin-top: 5px;
    background-color:var(--bs-light);
    border: 5px solid darkgoldenrod;
    border-radius: 100%;
    display: inline-block;
    height: 0.0125rem;
    width: .5rem;
 
}






app-home #caroselsection2 .slick-dots li.slick-active button:before,
app-home #caroselsection2 .slick-dots li button:before {
  color: grey;
  opacity: 1;
  font-size: 16px;
}
app-home #caroselsection2 .slick-dots li.slick-active button {
  border: 5px solid var(--bs-warning);
  border-radius: 100%;
}
app-home #caroselsection2 .slick-dots li.slick-active button:before {
  color: var(--bs-warning);
}

app-home #caroselsection2 .slick-slide {
  margin: 0 10px;
}
app-home #caroselsection2 .slick-list {
  margin: 0 -10px;
}

app-home #caroselsection2 p:hover{
  cursor:pointer;
}



